In [7]:
from pathlib import Path
import sys

import pandas as pd
import numpy as np

sys.path.append('../')
import payulator as pl


%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
params = {
    'kind': 'amortized',
    'principal': 20000,
    'interest_rate': 0.099,
    'compounding_freq': 'monthly',
    'payment_freq': 'quarterly',
    'num_payments': 4*2,
    'fee': 350,
    'first_payment_date': '2018-02-06'
}
loan = pl.Loan(**params)
print(loan)
s1 = loan.summarize()
s1

Loan(code='loan-2019-02-22T11:52:14', kind='amortized', principal=20000, interest_rate=0.099, payment_freq='quarterly', compounding_freq='monthly', num_payments=8, fee=350, first_payment_date='2018-02-06')

{'periodic_payment': 2788.81,
 'payment_schedule':    payment_sequence payment_date  beginning_balance  principal_payment  \
 0                 1   2018-02-06           20000.00            2289.71
 1                 2   2018-05-06           17710.29            2346.85
 2                 3   2018-08-06           15363.43            2405.42
 3                 4   2018-11-06           12958.02            2465.44
 4                 5   2019-02-06           10492.57            2526.97
 5                 6   2019-05-06            7965.60            2590.03
 6                 7   2019-08-06            5375.57            2654.66
 7                 8   2019-11-06            2720.91            2720.91

    interest_payment  ending_balance  notes
 0            499.09        17710.29    NaN
 1            441.96        15363.43    NaN
 2            383.39        12958.02    NaN
 3            323.36        10492.57    NaN
 4            261.84         7965.60    NaN
 5            198.78         5375.57    NaN
 6            134.15         2720.91    NaN
 7             67.90            0.00    NaN  ,
 'interest_total': 2310.47,
 'interest_and_fee_total': 2660.47,
 'payment_total': 22660.47,
 'interest_and_fee_total/principal': 0.13}

In [9]:
params['kind'] = 'interest_only'
params['num_payments'] = 6
params['payment_freq'] = 'monthly'
loan = pl.Loan(**params)
s2 = loan.summarize()
s2

{'payment_schedule':    payment_sequence payment_date  beginning_balance  principal_payment  \
 0                 1   2018-02-06              20000                  0
 1                 2   2018-03-06              20000                  0
 2                 3   2018-04-06              20000                  0
 3                 4   2018-05-06              20000                  0
 4                 5   2018-06-06              20000                  0
 5                 6   2018-07-06              20000              20000

    interest_payment  ending_balance  notes
 0             165.0           20000    NaN
 1             165.0           20000    NaN
 2             165.0           20000    NaN
 3             165.0           20000    NaN
 4             165.0           20000    NaN
 5             165.0               0    NaN  ,
 'interest_total': 990.0,
 'interest_and_fee_total': 1340.0,
 'payment_total': 21340.0,
 'interest_and_fee_total/principal': 0.07}

In [10]:
pl.aggregate_payment_schedules([s1['payment_schedule'], s2['payment_schedule']], freq='M')

   payment_date  principal_payment  interest_payment  total_payment
0    2018-02-28            2289.71            664.09        2953.80
1    2018-03-31               0.00            165.00         165.00
2    2018-04-30               0.00            165.00         165.00
3    2018-05-31            2346.85            606.96        2953.81
4    2018-06-30               0.00            165.00         165.00
5    2018-07-31           20000.00            165.00       20165.00
6    2018-08-31            2405.42            383.39        2788.81
7    2018-09-30               0.00              0.00           0.00
8    2018-10-31               0.00              0.00           0.00
9    2018-11-30            2465.44            323.36        2788.80
10   2018-12-31               0.00              0.00           0.00
11   2019-01-31               0.00              0.00           0.00
12   2019-02-28            2526.97            261.84        2788.81
13   2019-03-31               0.00              0.00           0.00
14   2019-04-30               0.00              0.00           0.00
15   2019-05-31            2590.03            198.78        2788.81
16   2019-06-30               0.00              0.00           0.00
17   2019-07-31               0.00              0.00           0.00
18   2019-08-31            2654.66            134.15        2788.81
19   2019-09-30               0.00              0.00           0.00
20   2019-10-31               0.00              0.00           0.00
21   2019-11-30            2720.91             67.90        2788.81