In [2]:
from pathlib import Path
import sys

import pandas as pd
import numpy as np

sys.path.append('../')
import loanulator as lc


%load_ext autoreload
%autoreload 2

In [3]:
# Test some

principal = 20000
interest = 0.099
compounding_freq = 'monthly'
payment_freq = 'quarterly'
num_years = 3
fee = 350
start_date = '2018-02-06'

A = lc.amortize(principal, interest, compounding_freq, payment_freq, num_years, 
  fee, start_date)

A

{'interest_and_fee_total': 3740.5,
 'interest_total': 3390.5,
 'num_payments': 12,
 'payment_schedule':     payment_seq payment_date  beginning_balance  principal_payment  \
 0             1   2018-02-06           20000.00            1450.11
 1             2   2018-05-06           18549.89            1486.30
 2             3   2018-08-06           17063.59            1523.39
 3             4   2018-11-06           15540.20            1561.41
 4             5   2019-02-06           13978.79            1600.37
 5             6   2019-05-06           12378.42            1640.31
 6             7   2019-08-06           10738.11            1681.24
 7             8   2019-11-06            9056.87            1723.20
 8             9   2020-02-06            7333.67            1766.20
 9            10   2020-05-06            5567.47            1810.27
 10           11   2020-08-06            3757.20            1855.45
 11           12   2020-11-06            1901.75            1901.75

     interest_payment  ending_balance
 0             499.09        18549.89
 1             462.91        17063.59
 2             425.82        15540.20
 3             387.80        13978.79
 4             348.84        12378.42
 5             308.90        10738.11
 6             267.97         9056.87
 7             226.01         7333.67
 8             183.01         5567.47
 9             138.93         3757.20
 10             93.76         1901.75
 11             47.46            0.00  ,
 'payment_total': 23740.5,
 'periodic_payment': 1949.21,
 'return_rate': 0.19}

In [4]:
A['payment_schedule']

,payment_seq,payment_date,beginning_balance,principal_payment,interest_payment,ending_balance
0,1,2018-02-06,20000.00,1450.11,499.09,18549.89
1,2,2018-05-06,18549.89,1486.30,462.91,17063.59
2,3,2018-08-06,17063.59,1523.39,425.82,15540.20
3,4,2018-11-06,15540.20,1561.41,387.80,13978.79
4,5,2019-02-06,13978.79,1600.37,348.84,12378.42
5,6,2019-05-06,12378.42,1640.31,308.90,10738.11
6,7,2019-08-06,10738.11,1681.24,267.97,9056.87
7,8,2019-11-06,9056.87,1723.20,226.01,7333.67
8,9,2020-02-06,7333.67,1766.20,183.01,5567.47
9,10,2020-05-06,5567.47,1810.27,138.93,3757.20
10,11,2020-08-06,3757.20,1855.45,93.76,1901.75
11,12,2020-11-06,1901.75,1901.75,47.46,0.00